.register-container{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    min-width: 300px;
    max-width: 300px;
}

.register-input-text{
    height: 30px;
}

.register-button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.register-button-group button{
    width: 50%;
}